{% extends 'web/base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="top">
        <a class="button" href="{% url 'web:lists' %}"><button class="btn btn-danger m-4">Atras</button></a>        
    </div>
</section>
<section>
    <div class="title">Crear Lista</div>
    <div class="plays">
        <form method="POST" action="{% url 'web:createList' %}">
            {% csrf_token %}
            <div class="form-floating mb-3">
                {{ form.dealer }}
                <label for="floatingDealerSelect">Dealer</label>
            </div>
            <div class="form-floating mb-3">
                {{ form.section }}
                <label for="floatingSectionSelect">Seccion</label>
            </div>
            <button class="btn btn-success" type="submit">Guardar</button>
        </form>
    </div>
</section>
{% endblock %}