{% extends 'web/base.html' %}
{% load static %}

{% block content %}
<div style="display: flex; position: relative; justify-content: space-between; width: 100%; height: 100%;">
    <ul>
        <li>
            <a href="{% url 'web:dealers' %}"><button class="btn btn-info m-4">Dealers</button></a> 
        </li>
        <li>
            <a href="{% url 'web:players' %}"><button class="btn btn-primary m-4">Jugadores</button></a>     
        </li>
        <li>
            <a href="{% url 'web:lists' %}"><button class="btn btn-success m-4">Listas</button></a> 
        </li>
    </ul>
</div>
{% endblock %}