{% extends 'web/base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="top">
        <a class="button" href="{% url 'web:index' %}"><button class="btn btn-danger m-4">Atras</button></a>
        <div class="">Premio: 856</div>
        <div class="balance">Balance</div>
    </div>
</section>
<section>
    <div class="title">Jugadas</div>
    <div class="plays">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Jugador</th>
                    <th scope="col">Número</th>
                    <th scope="col">Strike</th>
                    <th scope="col">Box</th>
                    <th scope="col">Bola</th>
                </tr>
            </thead>
            <tbody>
                {% for play in plays %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ play.player.name }}</td>
                    <td>{{ play.number }}</td>
                    <td>${{ play.strike }}</td>
                    <td>${{ play.box }}</td>
                    <td>${{ play.bola }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>                  
    </div>
    <div class="statistics">
        <div class="playsTotal">Jugadas: {{ plays.count }}</div>
        <div class="strikeTotal">Strike: ${{ strikeTotal }}</div>
        <div class="BoxTotal">Box: ${{ boxTotal }}</div>
        <div class="BolaTotal">Bola: ${{ bolaTotal }}</div>
        <div class="total">Total: ${{ total }}</div>
    </div>
</section>
<div class="newPlay">
    <form method="POST" action="{% url 'web:plays' %}">
        {% csrf_token %}
        <div class="newPlayForm">
            {{ form.player }}
            {{ form.number }}
            {{ form.strike }}
            {{ form.box }}
            {{ form.bola }}
            <button class="btn btn-primary submitButton" type="submit">Guardar</button>
        </div>
    </form>
</div>
{% endblock %}